<div class="row">
    <div class="col-lg-8 col-12">
        <div class="form-main">
            <div class="title">
                <h4>Login</h4>
                <h3>Sign in to your account</h3>
            </div>
            <form class="form" action="/account/login" method="post">
                <div class="row">

                    <div class="col-lg-6 col-12">
                        <div class="form-group">
                            <label>Email Address</label>
                            <input name="EmailAddress" type="email" id="emailAddress" placeholder="Enter email address">
                        </div>
                    </div>

                    <div class="col-lg-6 col-12">
                        <div class="form-group">
                            <label>Password</label>
                            <input name="Password" type="password" id="password" placeholder="Enter password">
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group button">
                            <button type="submit" class="btn">Submit</button>
                            <a href="~/account/register" class="btn" style="text-decoration:none;color:#ffffff;">Register</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>